@import "bourbon/bourbon";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

html, body {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    //overflow: hidden;
    font-family: 'Raleway', sans-serif;
    
    background-color: floralwhite;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page_wrap {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}

.wrapper {
    background-image: url('../img/Cavell-6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 700px;

    margin: auto;
    overflow: hidden;
    height: 100%;
    
    position: relative;
    text-align: center;
    box-shadow: 10px 10px 5px black;
    
    span {
        text-align: center;
        color: floralwhite;
        font-size: 500%;
        font-weight: 700;
        position: absolute;
        top: 50%;
        @include transform(translate(-50%, -50%));
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

div {
    box-shadow: 0px 10px black;
}

header {
    height: 50px;
    box-shadow: 0px 10px black;
}

#logo {
    font-size: 150%;
}

.nav {
    height: inherit;
    width: inherit;
    
    #nav_toggle {
        display: none;
    }
}

@media screen and (min-width: 480px){
    .navlinks {
        //flex settings
        @include align-items(center);
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(center);
        @include flex-wrap(wrap);

        //inherit header height
        height: inherit;
    }

    .navlink {
        margin: 0px;
        padding: 0px;
        height: inherit;

        background-color: floralwhite;

        min-width: 100px;

        @include flex-basis(0);
        @include flex-grow(1);
        @include flex-shrink(0);
        @include transition(all .15s ease-in-out);

        //font-family: sans-serif;
        text-align: center;

        position: relative;
        cursor: pointer;
        color: #282828;

        a {
            position: absolute;
            top: 50%;
            @include transform(translate(-50%, -50%));
            font-size: 100%;
            text-decoration: inherit;
            color: inherit;
            cursor: inherit;
            line-height: 50px;
            height: inherit;
            width: inherit;
        }
    }

    .navlink:hover, .navlink.active {
        color: black;
        font-weight: 900;
    }
    
}


.content {
    margin: auto;
    max-width: 500px;
    height: 750px;
}

//handling phone screens for nav menu
@media screen and (max-width: 480px) {
    
    .nav {
        
        //for positioning of child
        position: relative;
        
        #nav_toggle {
            display: block;

            //positions item vert n horiz in parent
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            font-size: 150%;
            @include transition(all .15s ease-in-out);
            cursor: pointer;
        }
    }
    
    .navlinks {
        display: block;
        
        .navlink {

            width: inherit;
            background-color: floralwhite;
            
            a {
                font-size: 100%;
                text-decoration: inherit;
                color: inherit;
                cursor: inherit;
                background-color: inherit;
                width: inherit;
                text-align: center;
            }
        }
    }
}

