@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: floralwhite; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.page_wrap {
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }

.wrapper {
  background-image: url("../img/Cavell-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 700px;
  margin: auto;
  overflow: hidden;
  height: 100%;
  position: relative;
  text-align: center; }
  .wrapper span {
    text-align: center;
    color: floralwhite;
    font-size: 500%;
    font-weight: 700;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4); }

header {
  height: 50px; }

#logo {
  font-size: 150%; }

.nav {
  height: inherit;
  width: inherit; }
  .nav #nav_toggle {
    display: none; }

@media screen and (min-width: 480px) {
  .navlinks {
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: inherit; }

  .navlink {
    margin: 0px;
    padding: 0px;
    height: inherit;
    background-color: floralwhite;
    min-width: 100px;
    -webkit-flex-basis: 0;
    -moz-flex-basis: 0;
    flex-basis: 0;
    -ms-flex-preferred-size: 0;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    text-align: center;
    position: relative;
    cursor: pointer;
    color: #282828; }
    .navlink a {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 100%;
      text-decoration: inherit;
      color: inherit;
      cursor: inherit;
      line-height: 50px;
      height: inherit;
      width: inherit; }

  .navlink:hover, .navlink.active {
    color: black;
    font-weight: 900;
    text-decoration: underline; } }
.content {
  margin: auto;
  max-width: 500px; }

@media screen and (max-width: 480px) {
  .nav {
    position: relative; }
    .nav #nav_toggle {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 150%;
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      cursor: pointer; }

  .navlinks {
    display: block; }
    .navlinks .navlink {
      width: inherit;
      background-color: floralwhite; }
      .navlinks .navlink a {
        font-size: 100%;
        text-decoration: inherit;
        color: inherit;
        cursor: inherit;
        background-color: inherit;
        width: inherit;
        text-align: center; } }

/*# sourceMappingURL=style.css.map */
